@font-face {
    font-family: new1;
    src: url('FontsFree-Net-Fenway.ttf')
}
h1{
    font-family: new1;
    color:#D6EF84;
}
*{
    margin: 5;
    padding: 1px;
}
body {
    text-align: center;
    background-color: #40554B;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    border:none;
    box-shadow: 0.0.1rem rgba(0,0,0,0.3);
    font-size: 6vmin;
    background-color:#D6EF84;
    color: #40554B
}
.box:hover{
 box-shadow: 0 0 10px white,0 0 20px white,0 0 30px white;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    background-color: olive;
    color: beige;
    border: none;
    box-shadow: 0 0 10px olive, 0 0 20px olive,0 0 30px olive;
    cursor:pointer;
    position: relative;
    z-index: 0;
}
.reset::after{
    font-size: 1.25rem;
    border-radius: 1.25rem;
    content: "";
    height: 100%;
    width: 0px;
    background-color: black;
    top: 0%;
    left: 0%;
    position: absolute;
    transition: 0.3s ease-out;
    z-index: -1;

}
.reset:hover::after{
    width: 100%
}
.reset:hover{
    box-shadow: 0 0 10px olive, 0 0 20px olive,0 0 30px olive;
}
.New{
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 1.25rem;
    background-color: olive;
    color: beige;
    border: none;
    box-shadow: 0 0 10px #121212,0 0 20px #121212;
    cursor:pointer;
    transition: 0.3s ease;
}
.New:hover{
     background-color: black;
    box-shadow: 0 0 10px olive, 0 0 20px olive,0 0 30px olive;
}
.message{
    color: #D6EF84;
    font-size: 5vmin;
    padding: 1rem;
}
.message-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hide{
    display:none;
}
.theme{
    height: 40px;
    width: 100px;
    padding: 1rem;
    border-radius: 0.75rem;
    background-image:url("day-and-night.png");
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border:none;
    font-size: 1.25rem;
    background-color: lightyellow;
    box-shadow: 0 0 5px #121212,0 0 10px #121212;
    cursor:pointer;

}
.theme:hover{
    box-shadow: 0 0 10px white,0 0 20px white,0 0 30px white;
}
body.dark{
    background: linear-gradient(to left, #2f2f2f, #1e1e1e, #121212);
    color:white;
}
body.dark .box{
    background-color: grey;
    color: white;
}
body.dark .reset{
    background-color: grey;
    color: white;
}
body.dark .New{
    background-color: grey;
    color: white;
}
body.dark .message{
    color: white;
}
body.dark .computer{
    background-color: grey;
}
body.dark h1{
    color: white;
}

.computer{
    padding:0.4rem;
    border-radius: 0.75rem;
    border:none;
    background-color:olive;
    color:white;
    font-size: 0.9rem;
    box-shadow: 0 0 10px olive, 0 0 20px olive,0 0 30px olive;
    cursor: pointer;
    position: relative;
    z-index:0;
}

.computer:hover{
    box-shadow: 0 0 10px olive,0 0 20px olive,0 0 30px olive;

}
.computer::after{
    border-radius: 0.75rem;
    border:none;
    content: " ";
    height: 100%;
    background-color: #121212;
    top: 0%;
    position: absolute;
    width: 0%;
    left: 0%;
    z-index: -1;
    transition: 0.3s ease-out;
    
}
.computer:hover::after{
    width: 100%;
}


